@import './variable.scss';

* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // font-family: 'Roboto', sans-serif;
    font-size: $font-default;
}
body {
    background-color: #f8f8f8;
    margin: 0;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, p{
    margin: 0;
}
h2{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #222;
    font-size: 36px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button, input{
    outline: none;
}
button{
    cursor: pointer;
}
img{
    border-radius: 10px;
}
// global class css
.container-wrapper{
    max-width: $max-width-container;
    margin: auto;
}
.pointer{
    cursor: pointer;
}
.currency-input-field{
    padding: 0px 5px;
    border-radius: 5px;
}
// overide antd
:where(.css-dev-only-do-not-override-ixblex).ant-form-item{
    margin-bottom: 15px;
}
.ant-notification-notice-message{
    margin-bottom: 0!important;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-switch.ant-switch-checked .ant-switch-inner{
    background-color: $default-green;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-ribbon-wrapper{
    height: 100%;
}
.center{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding-bottom: 2px;
}
:where(.css-dev-only-do-not-override-1km3mtt).ant-input-disabled, :where(.css-dev-only-do-not-override-1km3mtt).ant-input[disabled], .ant-select-disabled:where(.css-dev-only-do-not-override-1km3mtt).ant-select:not(.ant-select-customize-input) .ant-select-selector, :where(.css-dev-only-do-not-override-1km3mtt).ant-picker .ant-picker-input >input-disabled, :where(.css-dev-only-do-not-override-1km3mtt).ant-picker .ant-picker-input >input[disabled]{
    color: #000;
}
.ant-pagination-options{
    display: none!important;
}
// override ckeditor
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    height: 400px;
}
// btn in table
.btn-actions-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    .btn-icon{
        font-size: 25px;
        cursor: pointer;
        color: $default-green;
    }
}
// btn in form
.btn-form-wrapper{
    display: flex;
    justify-content: flex-end;
    .btn-cancel{
        margin-right: 10px;
    }
}
.btn{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: #fff;
    // background-color: #5cb9d8;
    border: none;
    border-radius: 5px;
    padding: 0 16px;
    cursor: pointer;
}
// upload img in form
.form-upload-box{
    border: 1px dashed #8a7676;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
// layout for client
.main-content-not-home{
    margin-top: 135px;
}
// element layout default
.default-layout{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 10px;
    }
}
// btn create
.btn-create{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: #fff;
    background-color: #5cb9d8;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
}

table{
    td{
        font-size: 18px;
    }
    .order-code{
        font-size: 20px;
        font-weight: 500;
    }
}
.mb-5{
    margin-bottom: 5px;
}
.mt-10{
    margin-top: 10px;
}
// context menu
.context-menu-wrapper{
    min-width: 200px;
    .item{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        color: $default-green;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            background-color: $default-green;
            color: #fff;
            .icon{
                color: #fff;
            }
        }
        .icon{
            color: $default-green;
        }
    }
}
.btn-remove-img{
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid $default-green;
    border-radius: 5px;
    background-color: $default-green;
    cursor: pointer;
    transition: all 0.2s linear;
    path{
        stroke: #fff;
    }
    &:hover{
        border: 1px solid $orange-text;
        background-color: $orange-text;
    }
}
.icon-view-order{
    path{
        stroke: #fff;
    }
}