// font-size
$font-small: 14px;
$font-default: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-extra: 30px;

// color
$header-background-color: #061524;
$color-link: #0099FF;
$deep-pink: #FF1493;
$default-green: #00a76f;
$soft-text: #707070;
$color-create: #5cb9d8;
$text-f0: #f0f0f0;

// max-width-layout
$max-width-container: 1244px;
