@import 'app/styles/variable.scss';

.filter-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    .filter-item{
        .size-option{
            .size-name{
                min-width: 100px;
                display: inline-block!important;
            }
        }
    }
    .filter-btn{
        .btn-search{
            height: 30px;
            background-color: $default-green;
        }
    }
}