@import 'app/styles/variable.scss';

.l-package-wrapper{
    margin: 20px 0;
    .l-package-price{
        span{
            color: $color-link;
            font-weight: 500;
        }
    }
    .l-package-button{
        background-color: $default-green;
        &:hover{
            color: #fff;
        }
    }
}
.m-confirm-info{
    .m-package-info{
        h1{
            font-size: 28px;
            color: $default-green;
        }
        .item{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .label-text{
                width: 100%;
                color: $soft-text;
                text-decoration: underline;
            }
            .value-text{
                flex: 1;
                font-size: 18px;
            }
        }
    }
    .m-package-form{
        h1{
            font-size: 28px;
            color: $default-green;
        }
    }
}