@import '../../styles/variable.scss';

.widget-wrapper{
    margin: 50px 0;
    .widget-box{
        min-height: 458px;
        background-image: url('../../../../public/assets/widget-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        position: relative;
        .content-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            width: 100%;
            .content{
                h1{
                    font-size: 48px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .divider{
                    width: 80%;
                    height: 2px;
                    background-color: #C4C4C4;
                    margin: 0 auto 10px auto;
                }
                a{
                    display: flex;
                    justify-content: center;
                    width: fit-content;
                    margin: auto;
                    color: #fff;
                    border: 2px solid #fff;
                    padding: 10px 20px 10px 30px;
                    &:hover{
                        color: $deep-pink;
                        border-color: $deep-pink;
                    }
                }
            }
        }
    }
    .widget-intro{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            align-items: center;
            width: 33%;
            .index-number{
                color: #e9e9e9;
                font-size: 96px;
                font-weight: bold;
            }
            .service-name{
                font-size: 48px;
                font-weight: 600;
                color: #a4b0b6;
            }
        }
        .center{
            width: 33%;
            border-right: 1px solid #D2D8DB;
            p{
                font-size: $font-medium;
                line-height: 35px;
            }
        }
        .right{
            flex: 1;
            margin-left: 20px;
            ul{
                margin-bottom: 0;
                li{
                    p{
                        font-size: $font-medium;
                    }
                }
            }
        }
    }
}