@import '../../styles/variable.scss';

.mpi-wrapper{
    .mpi-product-infor{
        h1{
            font-size: 30px;
            color: $default-green;
        }
    }
    .mpi-search-wrapper{
        .mpi-btn-wrapper{
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }
    .mpi-box{
        .mpi-item{
            border: 1px solid $default-green;
            padding: 5px;
            border-radius: 5px;
            height: 100%;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                object-fit: cover;
            }
            .mpi-item-infor{
                margin-top: 5px;
                flex: 1;
                display: flex;
                flex-direction: column;
                .name{
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                    color: $default-green;
                    margin-bottom: 20px;
                }
                .item-detail{
                    position: relative;
                    border: 1px solid $default-green;
                    border-radius: 5px;
                    padding: 10px;
                    margin-bottom: 20px;
                    .size-name{
                        position: absolute;
                        top: -15px;
                        left: 10px;
                        background-color: #fff;
                        padding: 0 5px;
                        color: $default-green;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    .sale-price, .rent-price{
                        display: flex;
                        align-items: center;
                        .label{
                            font-size: 24px;
                            font-weight: 600;
                            margin: 0 10px;
                        }
                        .price{
                            color: $default-green;
                            font-size: 24px;
                            line-height: 30px;
                            font-weight: 500;
                        }
                    }
                }
                .btn-box{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 15px;
                    gap: 5px;
                    margin-top: auto;
                    button{
                        font-size: 18px;
                        height: 30px;
                        cursor: pointer;
                        border-radius: 5px;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .btn-detail{
                        width: 50%;
                        color: #fff;
                        border: 2px solid $default-green;
                        background-color: $default-green;
                    }
                    .btn-edit{
                        color: $default-green;
                        border: 2px solid $default-green;
                        background-color: #fff;
                        flex: 1;
                    }
                }
            }
        }
    }
}