@import 'app/styles/variable.scss';

.report-wrapper{
    .report-time{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        .title{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .content{
            font-size: 20px;
            font-weight: 500;
            color: $color-link;
        }
    }
    .report-images{
        margin-bottom: 10px;
        .ant-image{
            width: 100%;
        }
        .image-item{
            padding: 10px;
            width: 230px;
            height: 230px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    .report-description{
        border: 1px solid $soft-text;
        padding: 10px;
        border-radius: 5px;
        color: $soft-text;
        min-height: 130px;
    }
    .image-item-wrapper{
        padding: 5px;
        .image-item-detail{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    .slick-arrow{
        border-radius: 9999px;
        background-color: #fff;
        z-index: 1;
        polyline{
            stroke: $deep-pink;
        }
    }
    .slick-prev{
        left: 15px;
        &:hover{
            background-color: #fff;
        }
    }
    .slick-next{
        right: 15px;
        &:hover{
            background-color: #fff;
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .report-wrapper{
        .report-time{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            .title{
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .content{
                font-size: 20px;
                font-weight: 500;
                color: $color-link;
            }
        }
        .report-images{
            margin-bottom: 10px;
            .image-item{
                padding: 10px;
                width: 230px;
                height: 230px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
        .report-description{
            border: 1px solid $soft-text;
            padding: 10px;
            border-radius: 5px;
            color: $soft-text;
            font-weight: 500;
            min-height: 130px;
        }
    }
}