@import 'app/styles/variable.scss';

.mng-package-wrapper{
    .btn-tools{
        button{
            margin-left: auto;
        }
    }
}
.manage-guarantee{
    white-space: pre-wrap;
    min-width: 200px;
}