@import 'app/styles/variable.scss';

.cpi-wrapper{
    .cpi-box{
        .col-item{
            .cp-item{
                padding: 5px;
                border: 1px solid $default-green;
                border-radius: 5px;
                display: block;
                height: 100%;
                img{
                    width: 100%;
                }
                .content{
                    .name{
                        margin-top: 5px;
                        text-align: center;
                        color: $default-green;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}