@import 'app/styles/variable.scss';

.cpi-wrapper{
    .cpi-box{
        .col-item{
            .cp-item{
                padding: 5px;
                border: 1px solid $default-green;
                border-radius: 5px;
                display: block;
                height: 100%;
                img{
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                }
                .pro-name{
                    color: #000;
                    font-size: 22px;
                    font-weight: 500;
                    margin: 10px 0;
                    height: 52px;
                }
                .price-box{
                    // margin-top: auto;
                }
                .content{
                    .name{
                        margin-top: 5px;
                        text-align: center;
                        color: $default-green;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}