@import 'app/styles/variable.scss';

.sign-up-container{
    padding: 50px 0;
    .sign-up-wrapper{
        width: 900px;
        background-color: #fff;
        border-radius: 20px;
        padding: 5rem;
        margin: auto;
        h2{
            margin-bottom: 33px;
        }
        .sign-up-box{
            display: flex;
            flex-direction: column-reverse;
            .left{
                // padding-right: 48px;
                // width: 50%;
                a{
                    color: inherit;
                    font-size: $font-small;
                    text-decoration: underline;
                    opacity: 0.8;
                    &:hover{
                        opacity: 1;
                        color: $color-link;
                    }
                }
                .btn-box{
                    display: flex;
                    .btn-submit{
                        color: #fff;
                        margin-right: 10px;
                    }
                    .btn-login{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .right{
                flex: 1;
                display: flex;
                justify-content: center;
            }
        }
    }
}