@import 'app/styles/variable.scss';

.rc-wrapper{
    .rc-bread{
        margin-bottom: 10px;
    }
    .rc-product-infor{
        h1{
            font-size: 30px;
            color: $default-green;
        }
    }
    .rc-box{
        .rc-item{
            border: 1px solid $default-green;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
                span{
                    text-decoration: underline;
                }
            }
            img{
                height: 200px;
                width: 100%;
                object-fit: cover;
            }
            span{
                display: block;
                text-align: center;
                padding: 10px 0;
                text-transform: capitalize;
                font-size: 18px;
                color: $default-green;
                font-weight: 500;
            }
        }
        .rc-pagination{
            margin: 10px 0;
            display: flex;
            justify-content: center;
        }
    }
}