@import 'app/styles/variable.scss';

.mcrod-wrapper{
    .more-infor{
        width: 600px;
        border: 1px solid $default-green;
        border-radius: 5px;
        padding: 10px;
        margin-left: auto;
        position: relative;
        margin-top: 20px;
        .title{
            position: absolute;
            top: -18px;
            left: 10px;
            padding: 0 10px;
            background-color: #fff;
            display: flex;
            align-items: center;
            gap: 5px;
            span{
                font-size: 20px;

            }
        }
        .name{
            display: flex;
            align-items: center;
            .left{
                display: flex;
                align-items: center;
                gap: 5px;
                width: 290px;
                color: $soft-text;
                span{
                    font-size: 18px;
                }
            }
            .right{
                flex: 1;
                span{
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}