@import '../styles/variable.scss';

.admin-layout{
    .admin-header{
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
        padding: 0;
        background-color: #fff;
        box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
        .left{
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .box-collapsed{
                border: 2px solid $default-green;
                color: $default-green;
                height: 30px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            padding-right: 50px;
            .info-name{
                display: flex;
                align-items: center;
                gap: 5px;
                span{
                    font-weight: 500;
                }
            }
            .info-detail{
                span{
                    font-weight: 500;
                    color: $orange-text;
                }
            }
            .btn-tools{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    .admin-layout-inside{
        .admin-sider{
            background-color: #fff;
            .admin-menu{
                background-color: #fff;
                .ant-menu-item-selected{
                    background-color: $default-green;
                    color: #fff;
                }
                .ant-menu-item-active:hover{
                    background-color: $default-green;
                    color: #fff;
                }
            }
        }
    }
    .mobile-header-wrapper{
        background-color: #fff;
        position: absolute;
        top: 0;
        
        .info-item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .name{
                display: flex;
                gap: 5px;
                align-items: center;
                font-weight: 500;
            }
            .role{
                .role-name{
                    font-weight: 500;
                    color: $orange-text;
                }
            }
        }
        .close-mobile-header{
            position: absolute;
            top: 15px;
            right: 25px;
            border-radius: 9999px;
            background-color: #24ab662b;
            path{
                stroke: $default-green;
            }
        }
    }
}