@import 'app/styles/variable.scss';

.mp-wrapper{
    .mp-infor{
        h1{
            font-size: 30px;
            color: $default-green;
        }
    }
    .mp-search-wrapper{
        // margin-top: 10px;
        .mp-btn-wrapper{
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }
    .mp-content-wrapper{
        h1{
            padding: 10px 0;
            color: $default-green;
            text-align: center;
            font-size: 30px;
            font-weight: 500;
        }
    }
}
.mp-option{
    img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
}