@import 'app/styles/variable.scss';

.modal-pi-wrapper{
    .modal-pi-form{
        .modal-pi-uploader{
            button{
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
                width: 100%;
                font-weight: 500;
                color: #fff;
                background-color: #5cb9d8;
                border: none;
                border-radius: 5px;
                height: 60px;
                cursor: pointer;
            }
        }
        .preview-wrapper{
            // display: flex;
            // flex-wrap: wrap;
            // gap: 5px;
            .preview-item{
                position: relative;
                .preview-image{
                    position: relative;
                    border: 1px solid transparent;
                }
            }
            .btn-close{
                position: absolute;
                top: 0;
                right: 6px;
                cursor: pointer;
            }
        }
    }
}

// override width uploader of antd
.ant-upload-wrapper, .ant-upload-select, .ant-upload{
    display: block!important;
    width: 100%;
}